@import 'colors.css';
@import 'typography.css';
@import 'other.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    ;
    line-height: 140%;
    color: var(--slate)
}


/* sections and flexbox models */

.section,
#typography {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 0 36px 54px;
    justify-content: space-between;
}

.ds-elm {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    color: var(--slate);
}

.outer-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    justify-content: space-between;
}

.line {
    position: relative;
    height: 0px;
    left: 0px;
    top: 16px;
    border: 1px solid var(--dorian);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    min-width: 80vw;
    transition: all 0.2s ease-in-out 0s;
}

.outer-frame>div:first-child {
    margin-top: 0px;
}

.inner-frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.inner-frame-para {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inner-frame-clr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    margin: 16px 0px;
}

.inner-frame-box {
    height: 5rem;
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    flex-grow: 0;
    margin: 0px 32px;
}

.clr-grid {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr 0.2fr 1.8fr;
    gap: 10% 5%;
    grid-template-areas: "box clr-name" "box clr-des" "box clr-code";
    margin: 0 1.5rem 1rem 0;
}

.clr-box {
    grid-area: box;
    position: relative;
    width: 100px;
    height: 100px;
    left: 0.05rem;
    top: 0.05rem;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
    border: 1px solid black;
}

.clr-name {
    grid-area: clr-name;
    width: max-content;
    display: flex;
    align-items: flex-end;
}

.clr-des {
    grid-area: clr-des;
    width: max-content;
}

.clr-code {
    grid-area: clr-code;
}

.typo-h {
    height: calc(100px + (160 - 100) * ((100vw - 300px) / (1600 - 300)));
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 32px;
    display: flex;
    align-items: center;
    color: var(--onyx);
}


/* page Layout */

.page-layout {
    display: grid;
    width: 100%;
    grid-template-areas: "head" "nav " "main" "foot";
    grid-template-rows: 80px auto 1fr 40px;
    gap: 1rem;
    transition: all 0.2s ease-in-out 0s;
}

.page-layout>header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lapis-blue);
    color: var(--cloud);
}

.wfull {
    grid-area: 2 / nav / 2 / main !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
    margin: 0 2rem 0 2rem;
}

.content {
    min-height: calc(100vh - 160px);
}

.card-details p {
    margin: 8px 0 0 0;
}

.card-container {
    border: 1px solid var(--light-slate);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.logo>h3:hover {
    transform: scale(1.05);
}

.logo>h3:active {
    transform: scale(0.9);
}

.logo>h3 a {
    color: var(--cloud);
}

.logo>h3 a:hover {
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 2px 3px 4px rgba(206, 89, 55, 0);
}

.page-layout>nav {
    grid-area: nav;
    padding: 8px 32px 0px 32px;
}

.page-layout>main {
    grid-area: main;
}

.page-layout>footer {
    grid-area: foot;
    background-color: var(--onyx);
    border-top: 2px solid var(--lapis-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1.25rem 2rem 1.5rem;
    color: var(--spun-pearl);
}

.share-links-box {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0 16px 8px;
}


/* nav, header links, footer links */

ul {
    list-style: circle;
}

.footer-nav ul,
.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.footer-nav ul li,
.header-nav ul li {
    padding: 0 1.5em;
}

.footer-nav ul li a,
.header-nav ul li a {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--cloud);
}

.header-nav ul li:hover {
    transform: scale(1.2)
}

.header-nav ul li a:hover {
    color: var(--dorian);
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.header-nav ul li:active {
    transform: scale(0.95)
}

.header-nav ul li a:active {
    color: var(--curious-blue);
    filter: drop-shadow(0px 0px 5px var(--bdazzled-blue));
}

footer>p {
    align-self: center;
    margin: 0;
}

.footer-nav {
    align-self: center;
    font-size: 1.2rem;
}

.footer-nav ul {
    margin: 0;
}

.footer-nav ul li a {
    color: var(--spun-pearl);
}


/* Form Elements */

input[type=text],
input[type=password],
textarea {
    background: #ECF1F4;
    border-radius: 8px;
    color: var(--onyx);
    vertical-align: middle;
    min-width: 150px;
    max-width: 540px;
    min-height: 36px;
    letter-spacing: 0.02em;
    box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
    padding: 12px 16px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(46, 156, 202, 0.9);
    padding: 6px 0px 6px 6px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(46, 156, 202, 0.9);
}

#inputs {
    width: 90%;
}

#inputs input {
    width: 90%;
    margin: 8px 0 8px 0;
}

label {
    display: block;
    color: var(--light-slate);
    font-size: 1.2rem;
    line-height: 13px;
    margin: 0.75%;
}

.txtfield-default {
    color: var(--mulled-wine);
    background: var(--dorian);
    border: 1px solid rgba(37, 39, 77, 0.2);
}

.txtfield-active {
    border: 1px solid var(--lapis-blue);
    filter: drop-shadow(0px 0px 6px rgba(37, 39, 77, 0.35));
    color: var(--mulled-wine);
}

.txtfield-valid {
    border: 1px solid var(--evergreen);
    filter: drop-shadow(0px 0px 5px rgba(133, 238, 188, 0.35));
    color: var(--lapis-blue);
}

.txtfield-error {
    border: 1px solid var(--fuschia);
    filter: drop-shadow(0px 0px 5px rgba(238, 133, 133, 0.35));
    color: var(--lapis-blue);
}

.txtfield-disabled {
    background: #ECF1F4;
    border: 1px solid rgba(170, 171, 184, 0.6);
    border-radius: 8px;
    color: var(--slate)
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin-top: 8px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    opacity: 0.75;
    box-shadow: -3x -3px 8px rgba(255, 255, 255, 0.8), 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
    opacity: 1;
    box-shadow: -4x -4px 8px rgba(255, 255, 255, 0.6), 8px 8px 16px rgba(0, 0, 0, 0.09);
}

.btn-primary {
    background: var(--lapis-blue);
    color: var(--cloud);
}

.btn-light {
    background: var(--bdazzled-blue);
    color: var(--cloud);
}

.btn-secondary {
    background: var(--dorian);
    color: var(--lapis-blue);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-tertiary {
    background: var(--bdazzled-blue);
    color: var(--cloud);
}

.btn-disabled {
    background: var(--cloud);
    color: var(--spun-pearl);
    border: 1px solid var(--light-slate);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border: 1px solid #EFEFFD;
    border-radius: 12px;
    background-color: var(--cloud);
    max-width: 100%;
    width: 480px;
    height: 100%;
    justify-content: space-between;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.card-button,
.card-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 2;
    align-self: flex-end;
    flex-grow: 0;
    margin: 8px 0px;
}

.card-button {
    flex-direction: column;
    align-self: stretch;
}

.card-button form {
    align-self: stretch;
}

.card-button form button {
    width: 100%;
}

.card-img {
    width: 100%;
    max-height: 260px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    padding: 2px;
    border: 1px solid var(--light-slate);
    margin-right: 16px;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    align-items: end;
}

#blog-post {
    justify-self: center;
    margin-bottom: 1rem;
}

.post {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 0.5rem;
}

.post p {
    margin: 1rem 0 1rem 0;
}

.post-img {
    width: 90%;
    margin-left: 5%;
    border: 1px solid var(--spun-pearl);
}


/* Media Queries */

@media (min-width: 1025px) {
    body {
        line-height: 110%;
    }
    .page-layout {
        grid-template-areas: "head head" "nav  main" "foot  foot";
        grid-template-rows: 80px 1fr 40px;
        grid-template-columns: 12vw 1fr;
    }
    .ds-nav {
        margin-top: 48px;
    }
    .section {
        max-width: 80vw;
    }
    .inner-frame-box {
        height: 9rem;
        min-width: 9rem;
    }
    .logo>h3 {
        margin-bottom: revert;
    }
    .content>article:nth-child(1) {
        grid-column: span 2;
    }
    #blog-post {
        margin-left: -20%;
    }
}

@media (min-width:769px) and (max-width: 1025px) {
    .ds-nav {
        padding: 8px 32px 0px 64px;
    }
    #blog-post {
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    h1.typo-h {
        font-size: 3.8rem;
        margin: 0px;
    }
    .label {
        margin-bottom: 1.3%;
    }
    .page-layout {
        grid-template-rows: 160px auto 1fr 40px;
    }
    .page-layout>header {
        flex-direction: column;
        align-items: center;
    }
    .page-layout>footer {
        flex-direction: column;
        height: max-content;
    }
    .footer-nav {
        margin-top: 1rem;
    }
    .section,
    #typography {
        padding: 8px 32px;
    }
    .inner-frame {
        justify-content: center;
    }
    .inner-frame-box {
        margin: 0px;
    }
    .inner-frame-clr {
        grid-template-columns: 1fr;
    }
    .clr-grid {
        margin: 0 0 1rem 0;
    }
    .card-title {
        margin-bottom: 8px;
    }
    .content {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
    #blog-post {
        padding-left: 2rem;
    }
}